{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{%  block stylesheets %}

        <link rel="stylesheet" href="{{ asset('build/app.css') }}"/>
{% endblock %}

{% block body %}





    <div id="app"></div>


    <footer class="text-center">
        <div class="container p-3">
            <p>Swagger: <a href="{{ path("app.swagger_ui") }}">Docs</a> &middot;  <a href="{{ path("app.swagger_json") }}"> JSON</a></p>
        </div>

    </footer>

{% endblock %}
