// Custom.scss

$theme-colors: (
        "primary": #7FC243,
        "secondary": #455C49,
        "danger": #ff4136
);

$primary: white;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/variables";


button[class*="btn"]:disabled {
  background: lightgrey;
  color: black;
  border: 0;
}

.card-body {
  background: white;
}

button[class*=" btn-outline-"]:hover {
  color: white !important;
}

.btn-primary {
  color: white;
}