{% extends 'base.html.twig' %}

{% block title %}

    {% if (activated) %}
        Account email verified
    {% else %}
      Failed to activate account email address
    {% endif %}
{% endblock %}
{% block body %}
    <div class="example-wrapper">
        <h1>
            {% if (activated) %}
                Account email verified
            {% else %}
                Failed to activate account email address
            {% endif %}
        </h1>
        <div>

            <p>Swagger: <a href="{{ path("app.swagger_ui") }}">Docs</a> &middot;  <a href="{{ path("app.swagger_json") }}"> JSON</a></p>
        </div>
    </div>
{% endblock %}
