{% block body %}
    <h1>Hey {{ first_name }}</h1>
    <p>Welcome to HealthAPI</p>
    <p>Please use the link below to confirm this is your email address</p>
    <a href="{{ activationUrl }}">Confirm account</a>


{% endblock %}
